main {
    display: grid;
    height: 550px;
    width: 350px;
    background: darkgray;
    margin: 0 auto;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px;
    gap: 50px;
}

main div {
    background: gray;
}

main div:nth-child(4n-1) {
    background: red;
}

main div:nth-last-child(1),
main div:nth-last-child(3),
main div:nth-last-child(4) {
    background: blue;
}

.button_section {
    width: 500px;
    height: 100px;
    margin: 0 auto;
    margin-top: 50px;
}

.button_section button {
    width: 501px;
    height: 92px;
    background: #44D3A8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    border: none;
    cursor: pointer;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    position: relative;
}

.button_section button::before {
    content: "";
    position: absolute;
    height: 12px;
    width: 200px;
    border-top: 2px solid #C4C4C4;
    border-bottom: 2px solid #C4C4C4;
    right: 550px;
}

.button_section button::after {
    content: "";
    position: absolute;
    height: 12px;
    width: 200px;
    border-top: 2px solid #C4C4C4;
    border-bottom: 2px solid #C4C4C4;
    left: 550px;
}