* {
    font-family: 'Lato';
}

input {
    outline: none;
}

header {
    background-color: #ED4C5C;
    position: absolute;
    width: 100%;
    height: 530px;
    left: 0px;
    top: 0px;
}

.windows-setting {
    color: white;
    position: absolute;
    margin: 400px 0px 0px 275px;

}

.appstore-setting {
    color: white;
    position: absolute;
    margin: 400px 0px 0px 220px;

}

.google-setting {
    color: white;
    position: absolute;
    margin: 400px 0px 0px 165px;
}

.slogan h1 {
    position: absolute;
    width: 445px;
    height: 107px;
    left: 165px;
    top: 122px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 43px;
    color: #FFFFFF;
}

.header-text {
    position: absolute;
    width: 445px;
    height: 64px;
    left: 165px;
    top: 253px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    color: #FFFFFF;
}

.first-foto {
    position: absolute;
    width: 445px;
    height: 311px;
    left: 735px;
    top: 94px;
    background: #C4C4C4;
    border-radius: 15px;
}

.second-foto {
    position: absolute;
    width: 383px;
    height: 267px;
    left: 841px;
    top: 116px;
    background: #C4C4C4;
    border-radius: 15px;
}

.third-foto {
    position: absolute;
    width: 383px;
    height: 267px;
    left: 691px;
    top: 116px;
    background: #C4C4C4;

    border-radius: 15px;
}

main {
    position: absolute;
    width: 100%;
    height: 500px;
    left: 0px;
    top: 500px;
    background: #FFFFFF;
}

.main-text h1 {
    position: absolute;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
    top: 117px;
    left: 176px;
}

.main-text p {
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    color: #000000;
    top: 225px;
    left: 176px;
    width: 420px;
}

.fname {
    box-sizing: border-box;
    position: absolute;
    width: 255px;
    height: 60px;
    left: 735px;
    top: 130px;
    border: 1px solid #333333;
    border-radius: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: black;
    padding-left: 25px;
}

.lname {
    box-sizing: border-box;
    position: absolute;
    width: 255px;
    height: 60px;
    left: 1020px;
    top: 130px;
    border: 1px solid #333333;
    border-radius: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: black;
    padding-left: 25px;
}

.phone {
    box-sizing: border-box;
    position: absolute;
    width: 540px;
    height: 60px;
    left: 735px;
    top: 215px;
    border: 1px solid #333333;
    border-radius: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: black;
    padding-left: 25px;
}

.selection-menu {
    box-sizing: border-box;
    position: absolute;
    width: 540px;
    height: 60px;
    left: 735px;
    top: 300px;
    border: 1px solid #333333;
    border-radius: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: gray;
    padding-left: 25px;
    background-color: #FFFFFF;
}

.submit {
    box-sizing: border-box;
    position: absolute;
    width: 160px;
    height: 50px;
    left: 735px;
    top: 385px;
    background: #ED4C5C;
    border: 1.5px solid #ED4C5C;
    border-radius: 6px;
    color: #FFFFFF;
    cursor: pointer;
    transition-duration: 0.4s;
}

.submit:hover {
    background-color: white;
    color: black;
    border: 3px solid #ED4C5C;

}

footer {
    position: absolute;
    width: 100%;
    height: 415px;
    left: 0px;
    top: 1085px;
    background: #FAFAFA;
}

.adress {
    position: absolute;
    width: 65px;
    height: 22px;
    left: 200px;
    top: 100px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #101010;
}

.services {
    position: absolute;
    width: 67px;
    height: 22px;
    left: 490px;
    top: 100px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #101010;
}

.gettouch {
    position: absolute;
    width: 111px;
    height: 22px;
    left: 770px;
    top: 100px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #101010;
}

.support {
    position: absolute;
    width: 100px;
    height: 22px;
    left: 1058px;
    top: 100px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #101010;
}

footer p {
    position: absolute;
    width: 254px;
    height: 54px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #101010;
}

#fst {
    top: 140px;
    left: 200px;
}

#snd {
    top: 140px;
    left: 490px;
}

#thd {
    top: 140px;
    left: 775px
}

.facebook-setting {
    position: absolute;
    left: 775px;
    background: #101010;
    top: 220px;
}

.linkedin-setting {
    position: absolute;
    left: 805px;
    top: 220px;
}

.twitter-setting {
    position: absolute;
    left: 835px;
    top: 220px;
}

footer img {
    position: absolute;
    width: 216px;
    height: 31px;
    left: 1058px;
    top: 150px;
}

#fth {
    position: absolute;
    width: 155px;
    height: 14px;
    left: 200px;
    top: 340px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #101010;
}